In [1]:
import googlemaps

In [2]:
from datetime import datetime

In [3]:
gmaps = googlemaps.Client(key='Your API key here...')

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("locations.csv")

In [6]:
df.head()

   location index        lat         lon
0               0 -38.100617  145.488326
1               1 -38.062604  145.367474
2               2 -38.357822  144.757135
3               3 -38.355186  144.752776
4               4 -38.351950  144.918912

In [7]:
df['location']="unknown"
df.head()

   location index        lat         lon location
0               0 -38.100617  145.488326  unknown
1               1 -38.062604  145.367474  unknown
2               2 -38.357822  144.757135  unknown
3               3 -38.355186  144.752776  unknown
4               4 -38.351950  144.918912  unknown

In [8]:
import json

In [9]:
for index,row in df.iterrows():
    lat = df.iloc[index,1]
    lon = df.iloc[index,2]
    reverse_geocode_result = gmaps.reverse_geocode((lat,lon))
    res = json.dumps(reverse_geocode_result[0])
    result = json.loads(res)
    address = result['formatted_address']
    df.iloc[index,3] = address

In [10]:
df.head()

,location index,lat,lon,location
0,0,-38.100617,145.488326,"1110 Koo Wee Rup Rd, Pakenham VIC 3810, Australia"
1,1,-38.062604,145.367474,"24 Hartsmere Dr, Berwick VIC 3806, Australia"
2,2,-38.357822,144.757135,"540A Melbourne Rd, Sorrento VIC 3943, Australia"
3,3,-38.355186,144.752776,"633A Melbourne Rd, Sorrento VIC 3943, Australia"
4,4,-38.351950,144.918912,"757 B110, Rosebud VIC 3939, Australia"

In [11]:
df.to_csv("locations_geocoded.csv", encoding='utf-8')